if SHIELD_FRUSTUM_LEFT

# Name must be less than 16 characters long!
config ZMK_KEYBOARD_NAME
    default "frustum"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_FRUSTUM_LEFT || SHIELD_FRUSTUM_RIGHT

config ZMK_SPLIT
    default y

endif