if SHIELD_FRUSTUM_LEFT

config ZMK_KEYBOARD_NAME
    default "Frustum"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_FRUSTUM_LEFT || SHIELD_FRUSTUM_RIGHT

config ZMK_SPLIT
    default y

endif

if ZMK_DISPLAY

config NICE_VIEW
    default y

endif